@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  transition-property: opacity, background, transform, filter;
  transition-timing-function: ease-in-out;
  transition-duration: 500ms;
}

.page-transition {
  opacity: 0;
  background: black;
  /* transform: translateY(40px); */
  filter: blur(12px);
}

@layer base {
  .title-font,
  .description1,
  .description2,
  .description3,
  .typewriter-text {
    font-family: "Playfair Display", serif;
  }
}
@font-face {
  font-family: "Rampart One";
  src: url("/fonts/RampartOne-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Type writer";
  src: url("/fonts/KingthingsTrypewriter 2.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
